wandb
spacy
confection
vllm>=0.3.0
transformers
fschat
ray
openai>=1.25.1
anthropic
mistralai
google-generativeai
google-cloud-aiplatform
torchvision
sentence-transformers
matplotlib
accelerate
datasketch
pandas
art  # for ArtPrompt
tenacity  # for ArtPrompt
boto3
bpe
weave
python-json-logger